# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Build
/MacBuild
/MacBuild.app
/WindowsBuild
/Output

# Installer
afterinstall.txt
beforeinstall.txt
licence.txt
WaterWars.exe
waterwarssetup.iss
WindowsBuild.zip
